body{/*body and navigation css*/
    background-color: khaki;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

#navigation{
    text-align: center;
    background-color: black;
    height:70px;
    overflow: hidden;
    
    
}
#navigation a{/*css of the navigation contents (links)*/
  float:right; 
  margin-top: 0.3%;
  margin-right:20px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.3% 1%;
}
#navigation a:hover{
  background-color: rgb(255, 255, 255);
  
  color: black;
  
}

#navigation a:first-child{
  background-color: black;
  
  
}
.navigation a.splitToLeft{
  float:left;
}
#navigation a.split {/*putting the register and login to the right and linking this CSS to them*/
  float: right;
  margin-right: 10px;
  
}
#navigation a.selected{
  background-color:white;
  color:black;
  text-decoration: underline;

}


/*search bar css*/
 /* #results {
  display: block;
  padding: 10px;
  
}

#results .name {
  width: 20%;
  padding: 10px 0;
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
  list-style-type: none;
  display:none;
}  */

#navigation .SearchBar{
  background-color: blue;
  width:100%;

}



.footer{ /*footer for home page*/
    background-color:black;
    margin-top: 20%;
    margin-bottom: auto;
    padding-top: 1%;
    padding-bottom: 1%;
   
    
    
}



.registerFooter{ /*css of the footer for the register page*/
  background-color:black;
  margin-top: 0%;
  margin-bottom: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  
  
}
.loginFooter{ /* css of the footer of the login pages*/
  background-color:black;
  margin-top: 5%;
  margin-bottom: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  
  
}
.shirtsFooter{ /*footer for the shirts pages*/
  background-color:black;
  margin-top: 8%;
  margin-bottom: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  
  
}
.CartFooter{ /*css for the footer for the cart page*/
  background-color:black;
  margin-top: 71%;
  margin-bottom: auto;
  padding-top: 1%;
  padding-bottom: 1%;

}
.ProfileFooter{ /*css for profile footer*/
  background-color:black;
  margin-top: 40%;
  margin-bottom: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  
  
}

.user-profile .card {
  border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.user-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.user-profile .card p {
  font-size: 16px;
  color: #000;
}


#SearchBar{
    margin-top:20px;
    margin-left:20%;
    padding:6px;
    font-size: 17px;
    width:25%;
}
#HomeSearchBar{
  margin-top:20px;
  margin-right:50%;
  padding:6px;
  font-size: 17px;
  width:26%;
  
}
 #LogoSize{
    
    position:absolute;
    margin-left:-9%;
    margin-top:-21%;
    height:100%;
    width:25%;
} 



#ProfileBox{
    text-align: center;
    height: 200%;
    width: 10%;
    background-color:white;
    margin-right: 20px;
    float: right;
}
/*HOME PAGE CSS*/

  
  .homeRegisterButton{
    background-color: khaki;
    height: 50px;
    width: 10%;
    font-size: 100%;
    margin-right:12%;
    cursor: pointer;
  }
  .homeLoginButton{
    position: absolute;
    background-color: khaki;
    height: 50px;
    width: 10%;
    font-size: 100%;
    margin-left:-10%;
    cursor: pointer;
  }
  .homeViewProductsButton{
    position: absolute;
    background-color: rgb(208, 199, 122);
    height: 50px;
    width: 30%;
    font-size: 100%;
    margin-top:5%;
    margin-left:-26%;
    cursor: pointer;
  }

  
  .salesBoard{
    width:100%;
  height:500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right:auto; 
  margin-top: 2%; 
  background-color: black;
  }

  /* Tshirts page css and all other product pages as well*/

  .go { /*adjusting the css of the left side div in the products pages*/
    height: 83.5%;
    width: 20%;
    position: absolute;
    
}
  
  .left { /*adjusting color of that left div and the height*/
    left: 0;
    background-color:rgba(43, 1, 88, 0.393);
    height: 190%;
  }

  .dropbtn { /*this is the category menu css*/
    background-color: khaki;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 30%;
    margin-left: -50%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left:30%;
  }
  
  

  
   .dropdown-content a { /*menu contents*/
    background-color: rgb(241, 235, 187);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: -40%;
  }
  
  .dropdown-content a:hover {
    background-color: khaki
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(219, 210, 128);
  } 

  

 .dropdown-toggle { 
    
    margin-left: 30%;
    margin-top: 23%;
    background-color: khaki;
    color: black; 
    
}

ul.dropdown {
       
     position: absolute; 
     margin-top: 50%;
     margin-left:28%; 
     padding: 5px 5px 0 0;  
     background:khaki;
 }
 ul.dropdown li { 
    list-style-type: none; 
} 
 ul.dropdown li a { 
  
    text-decoration: none; 
    padding: 0em 1em; 
    
}   
.card1 { /*css of the products start here and is used for all of them*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height:630px;
  font-family: arial;
  margin-left:22%;
}


.price {
  color: black;
  font-size: 22px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card1 button:hover {
  opacity: 0.7;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 615px;
  font-family: arial;
  margin-left:48.8%;
  margin-top: -41.5%;;
}
.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 590px;
  font-family: arial;
  margin-left:75%;
  margin-top: -40.5%;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: -15%;
  font-size: 18px;
}

.card3 button:hover {
  opacity: 0.7;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 590px;
  font-family: arial;
  margin-left:30%;
  margin-top: 10%;
}

.card4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: -15%;
  font-size: 18px;
}

.card4 button:hover {
  opacity: 0.7;
}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 590px;
  font-family: arial;
  margin-left:65%;
  margin-top: -39%;
}

.card5 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: -15%;
  font-size: 18px;
}

.card5 button:hover {
  opacity: 0.7;
}

/*Profile Box in the my profile page*/

.ProfilePgBox {
  width:30%;
  height:650px;
  border: 1px  solid black;
  margin-left: auto;
  margin-right:50%;
  margin-top: 1.5%;
  background-color: #B76262;

}
.ProfileHeading{ /*Profile heading CSS to design the heading*/
  color:white;
  margin-right: 63%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
.ProfileTable{
  
  margin-right:auto;
  margin-left:auto;
   }
.profiletext{
  text-align: left;
}
/*Order Table*/
.OrderBox{
  width:140%;
  height:250px;
  border: 1px  solid black;
  margin-left: 110%;
  margin-right:0;
  margin-top:-83%;
  background-color: #B76262;
}   
.OrderHeading{ /*Order heading CSS to design the heading*/
  color:white;
  margin-right: 63%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
.OrderTable{
  
  margin-right:auto;
  margin-left:auto;
   }
   .Ordertext{
    text-align: justify;
   }
/* REGISTRATION PAGE CSS*/
.RegisterBox{/*background box of the register box in the register page*/
  width:45%;
  height:500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right:auto; 
  margin-top: 2%; 
  background-color: #B76262;
  
}
.RegisterHeading{/*Register heading CSS to design the heading*/
  color:white;
  margin-right: 63%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
 }
 .RegisterTable{/*this is made to center the table in the register page*/
  margin-right:auto;
  margin-left: auto;
  

 }

 
 .RegisterBoxButton{/*Internal CSS for register button, cancel button and the check box with hover effects*/
  position:absolute;
  color: black;
  height:5%;
  width:6%;
  background: khaki;
  border: 1px solid #000000;
 margin-top:4%;
 margin-left:7%;
}
.CancelBoxButton{
  position:absolute;
  color: black;
  height:5%;
  width:5%;
  background: khaki;
  border: 1px solid #000000;
 margin-top:4%;/*Higher value moves it towards down*/
 margin-left:1%;/*Higher value moves it towards right*/
}

.RegisterBoxButton:hover{/*Hover effect for the register button*/
background-color: rgb(219, 210, 128);
color: black;
cursor: pointer;
}
.CancelBoxButton:hover{/*Hover effect for the cancel button*/
background-color: rgb(219, 210, 128);
color: black;
cursor: pointer;
}

/*Login css*/
.LoginBox{/*Login background box design in the login page*/
  width:30%;
  height:500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right:auto; 
  margin-top: 2%; 
  background-color: #B76262;
  

 }

 .LoginHeading{/*designing the login heading*/
  color:white;
  margin-right: 72%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
 }

 
 .LoginTable{/*this is made to center the table in the login page*/
  margin-right:auto;
  margin-left: auto;
 

 }
 .LoginBoxButton{ /*internal css for the login button and hover effect*/
  height:6%;
  width:16%;
  background: khaki;
  border: 1px solid #000000;
  color:black;
  font-size:100%;

}
.LoginBoxButton:hover{/*hover effect for the login button*/
  
background-color: rgb(219, 210, 128);
color: black;
cursor: pointer;
}
.LogOutBoxButton{ /*internal css for the login button and hover effect*/
  height:6%;
  width:17%;
  background: khaki;
  border: 1px solid #000000;
  color:black;
  font-size:100%;

}
.LogOutBoxButton:hover{/*hover effect for the login button*/
  
background-color: rgb(219, 210, 128);
color: black;
cursor: pointer;
}



/*Cart page css*/
.content-section { /*this adjusts the structure of the cart table*/
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {/*adjusts the columns of the cart box*/
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-remove {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-remove:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}